@use "@/styles/variables" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sidebar-bg;
  min-height: 100vh;
}
.content {
  min-height: 450px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px $sidebar-bg;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__headline {
    font-size: 30px;
    color: $primary-color;
  }
  &__tagline {
    font-size: 18px;
    color: lighten($primary-color, 10%);
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
}
.input {
  min-width: 400px;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 0.5px solid gray;
  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 3px 6px $sidebar-bg;
  }
}
.submit {
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid $primary-color;
  border-radius: 8px;
  background-color: lighten($primary-color, 10%);
  width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: lighten($primary-color, 30%);
  }
}
.highlight {
  color: $primary-color;
  cursor: pointer;
}
.errors{
  color: $danger;
  font-size: 12px;
  margin-left: 16px;
}