@use "@/public/styles/variables" as *;

.container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  width: $sidebar-width;
  height: 100%;
  padding: 24px 0 100px 0;
  background-color: $sidebar-bg;
  box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3);
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 24px;
  color: $primary-color;
  h1 {
    font-weight: 500;
  }
}
.content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: left;

  &__item {
    padding: 18px 24px;
    border-radius: 5px;
  }
  
  & div:hover {
    background-color: darken($sidebar-bg, 15%);
  }
}
